b {
  font-weight: bold;
}
#cv-header {
  text-align: center;
  background-color: #303030;
  color: #f0f0f0;
  margin-top: -10px;
  padding: 15px 0px;
}
.span2 { 
  width: 120px;
}
#cv-header .contact {
  font-weight: bold;
}
.section .points .row {
  margin-bottom: 10px;
}
.section .points .row .span2 {
  color: #666;
  font-size: 12px;
}
.section .points .row .span2.bold {
  color: #444;
  font-size: 14px;
}
.section .points .row .span1 {
  color: #666;
  font-size: 12px;
}
.section .points .row .span1.bold {
  color: #444;
  font-size: 14px;
}
.section .points .row ul {
  list-style-type: None
}

.section .points .row ul i {
  margin-right: 3px;
}
.section .points .row .span10 span {
  font-weight:bold;
}
.bold {
  font-weight: bold;
}
* {
  border: none;
  box-shadow: none;
}
body {
  padding: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300; 
  color: #444;
  height: 100%;
  width: 100%;
  box-shadow:none;
  border: none;
}
